@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

body {
    background: url(../images/banner.jpg) fixed no-repeat;
}

body > header > div#ibackground {
    max-height: 30px;
}

body > header > div#ibackground > img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

body > header > div#inav {
    display: flex;
    align-items: center;
    border-bottom: .15rem solid rgb(255, 0, 255);
}

body > header > div#inav > img {
    display: flex;
    align-items: center;
    border-bottom: .15rem solid rgb(255, 0, 255);
}

div#inav > nav > a {
    padding: 30px 0;
    font-size: 1.5rem;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    color: pink;
}

body > header > div > nav > a:hover {
    color: rgb(255, 0, 255);
    text-shadow: 1px 1px 1px black;
}